body{
  font-family: 'Kalam', cursive;
  background-color: var(--backgroundcolor);
}


:root{
  --colortext:#FFFFFF;
  --colorhover:#1ABC9C;
  --backgroundcolor:#1ABC9C;
  --itemcolor:#ebf4f7;
  --bg-nav:#2C3E50;
}